body{
  background-image: url('https://res.cloudinary.com/dfo4pp3fq/image/upload/v1729476627/Phonk_music_vpycwx.jpg');
}
.container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #ffffff5e;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(12, 239, 0, 0.532);
  }
  
  .title {
    color: #000000;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .table {
    width: 100%;
    border-collapse:collapse;
  }
  
  th, td {
    color: #85efef;
    padding: 1rem;
    text-align: left;
  }
  
  th {
    background-color: #333;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  tr {
    background-color: #2e2e2e;
  }
  
  tr:nth-child(even) {
    background-color: #333;
  }
  
  tr:hover {
    background-color: #55da5592;
  }
  
  td {
    border-bottom: 1px solid #444;
  }
  
  table th:first-child, 
  table td:first-child {
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .table, th, td {
      font-size: 0.9rem;
    }
  
    .title {
      font-size: 1.5rem;
    }
  }
  