.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-image: url('https://res.cloudinary.com/dfo4pp3fq/image/upload/v1729479115/Spotify_music_lockscreen___wallpaper___Kiat_foto_Gambar_kota_Foto_kolase_dinding_zscsdy.jpg');
  color: rgb(255, 255, 255);
  text-align: center;
}

  /*debo revisar*/
  .title {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  
  .subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .button {
    background-color: #00ff519a;
    color: #000000;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border-radius: 50px;
    border-style: double;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #00000070;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 2rem;
    }
  
    .subtitle {
      font-size: 1.2rem;
    }
  
    .button {
      padding: 0.5rem 1.5rem;
    }
  }
  