nav {
  background-color: #1db954;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
