nav {
  background: linear-gradient(30deg, #1db954dd, #191414);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a:hover {
  background-color: #00000044;
}
